<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" [routerLink]="'/profile'">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="'/feed'">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="'/tournaments'">
    <mat-icon>calendar_today</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="'/messages'">
    <mat-icon>question_answer</mat-icon>
  </button>
</mat-toolbar>
