.mat-icon {
  font-size: 10vmin;
  height: 10vmin;
  width: 10vmin;

  transform: translateY(15%);
}

.toolbar {
  position: fixed;
  left: 0;
  bottom: 0;

  height: 11vh;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
