<h1>Profile of {{ player.nickname }}</h1>
<h3>{{ player.fullname }}</h3>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>account_circle</mat-icon>
    </mat-panel-title>
    <mat-panel-description> Your account </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <ul>
      <li>Nickname: {{ player.nickname }}</li>
      <li>Email: {{ player.email }}</li>
    </ul>
  </ng-template>
  <mat-action-row>
    <button mat-button color="primary" (click)="editAccountInformation()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>info</mat-icon>
    </mat-panel-title>
    <mat-panel-description> Basic information about you </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <ul>
      <li>Full name: {{ player.fullname }}</li>
      <li>Birthday: {{ player.birthday }}</li>
      <li>Gender: {{ player.gender }}</li>
    </ul>
  </ng-template>
  <mat-action-row>
    <button mat-button color="primary" (click)="editBasicInformation()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>settings</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Your game preferences to search a team
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <ul>
      <li>Game: {{ player.preferences.game }}</li>
      <li>Rank: {{ player.preferences.rank }}</li>
      <li>Role: {{ player.preferences.role }}</li>
      <li>Only feminine: {{ player.preferences.feminine }}</li>
    </ul>
  </ng-template>
  <mat-action-row>
    <button mat-button color="primary" (click)="editGamePreferences()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </mat-action-row>
</mat-expansion-panel>

<mat-card *ngIf="hasTeam">
  <mat-card-title>Team Name</mat-card-title>
  <mat-card-subtitle>{{ playerTeam.id }}</mat-card-subtitle>
  <mat-card-content>
    <div *ngFor="let member of teamMembers">{{ member.nickname }}</div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!hasTeam">
  <mat-card-title>You have no team</mat-card-title>
  <mat-card-subtitle>Go search a team!</mat-card-subtitle>
</mat-card>
