<div *ngIf="dataLoaded | async" class="container">
  <div class="header">
    <div>
      <img
        *ngIf="player.gender === 'MASC'"
        src="assets/images/male_avatar.svg"
        class="avatar"
        alt=""
      />
      <img
        *ngIf="player.gender !== 'MASC'"
        src="assets/images/female_avatar.svg"
        class="avatar"
        alt=""
      />
    </div>
    <div>
      <h1 class="header-nickname">Profile of {{ player.nickname }}</h1>
      <h3 class="header-fullname">{{ player.fullname }}</h3>
    </div>
  </div>

  <div class="content">
    <!--YOUR ACCOUNT PANEL-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-title>
        <mat-panel-description> Your account </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="form-image-container">
          <img src="assets/images/account_form.svg" class="form-image" alt="" />
        </div>
        <form [formGroup]="accountForm">
          <div class="form">
            <mat-form-field appearance="legacy">
              <mat-label>Your nickname</mat-label>
              <input
                matInput
                formControlName="nickname"
                required
                maxlength="16"
              />
              <mat-error *ngIf="getNicknameErrorMessage()">
                {{ nicknameErrorMessage }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Your email</mat-label>
              <input matInput formControlName="email" required />
              <mat-error *ngIf="getEmailErrorMessage()">
                {{ emailErrorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </ng-template>
      <mat-action-row>
        <button
          [disabled]="accountForm.invalid"
          mat-button
          color="primary"
          (click)="editAccountInformation()"
        >
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-button color="primary" (click)="logOut()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
        <button mat-button color="warn" (click)="deletePlayer()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <!--BASIC INFORMATION PANEL-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>info</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Basic information about you
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="form-image-container">
          <img
            src="assets/images/personal_form.svg"
            class="form-image"
            alt=""
          />
        </div>
        <form [formGroup]="basicInfoForm">
          <div class="form">
            <mat-form-field appearance="legacy">
              <mat-label>Your name</mat-label>
              <input matInput formControlName="fullname" required />
              <mat-error *ngIf="fullname?.invalid">
                Name must contain only letters and minimum of 8 letters
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Your birthday</mat-label>
              <input
                matInput
                [max]="maxDate"
                [matDatepicker]="picker"
                formControlName="birthday"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
              <mat-error> You must have at least 16 years old </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Your gender</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option *ngFor="let g of genders" [value]="g.value">
                  {{ g.name }}
                </mat-option>
              </mat-select>
              <mat-error> Please choose a gender </mat-error>
            </mat-form-field>
          </div>
        </form>
      </ng-template>
      <mat-action-row>
        <button
          mat-button
          color="primary"
          [disabled]="basicInfoForm.invalid"
          (click)="editBasicInformation()"
        >
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <!--TEAM CARD-->
    <mat-card *ngIf="hasTeam">
      <mat-card-title>{{ playerTeam.name }}</mat-card-title>
      <mat-card-subtitle>{{ player.preferences.game }} Team</mat-card-subtitle>
      <mat-card-content>
        <mat-selection-list #members [multiple]="false">
          <mat-list-option
            *ngFor="let member of teamMembers"
            (click)="onMemberChange(member)"
            ><mat-icon mat-list-icon>account_circle</mat-icon>
            <div mat-line>
              <b>{{ member.nickname }}</b>
            </div>
            <div mat-line>
              Role: {{ member.preferences.role }} - Rank:
              {{ member.preferences.rank }}
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          *ngIf="isFounder"
          mat-button
          color="warn"
          (click)="deleteTeam()"
        >
          <mat-icon>delete</mat-icon>
          Delete team
        </button>
        <button
          *ngIf="
            isFounder && selectedMember !== undefined && !isSelectedFounder
          "
          mat-button
          color="warn"
          (click)="deleteSelectedMember()"
        >
          <mat-icon>no_accounts</mat-icon>
          Delete member
        </button>
      </mat-card-actions>
    </mat-card>

    <!--NO TEAM CARD-->
    <mat-card *ngIf="!hasTeam">
      <mat-card-title>You have no team</mat-card-title>
      <mat-card-subtitle>Go search a team or create one!</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button color="primary" (click)="createNewTeam()">
          <mat-icon>group_add</mat-icon>
          New team
        </button>
      </mat-card-actions>
    </mat-card>

    <!--PREFERENCES FORM-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
        </mat-panel-title>
        <mat-panel-description> Your preferences </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="form-image-container">
          <img
            src="assets/images/preferences_form.svg"
            class="form-image"
            alt=""
          />
        </div>
        <form [formGroup]="preferencesForm">
          <div class="form">
            <mat-form-field appearance="legacy">
              <mat-label>Favourite game</mat-label>
              <mat-select formControlName="game" required>
                <mat-option *ngFor="let g of games" [value]="g.name">
                  {{ g.name }}
                </mat-option>
              </mat-select>
              <mat-error> You must select a game </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role" required>
                <mat-option *ngFor="let r of roles" [value]="r.name">
                  {{ r.name }}
                </mat-option>
              </mat-select>
              <mat-error> You must select a role </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Rank</mat-label>
              <mat-select formControlName="rank" required>
                <mat-option *ngFor="let r of ranks" [value]="r.name"
                  >{{ r.name }}
                </mat-option>
              </mat-select>
              <mat-error> You must select a rank </mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>What do you want to see?</mat-label>
              <mat-select formControlName="wantedUser">
                <mat-option *ngFor="let type of userTypes" [value]="type.value"
                  >{{ type.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-slide-toggle formControlName="feminine"
              >Show only feminine users</mat-slide-toggle
            >
          </div>
        </form>
      </ng-template>
      <mat-action-row>
        <button
          mat-button
          color="primary"
          [disabled]="preferencesForm.invalid"
          (click)="editGamePreferences()"
        >
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>
