<form [formGroup]="accountForm">
  <div mat-dialog-content>
    <h2>Edit your account information</h2>
    <app-account-form
      [data]="data"
      formControlName="account"
    ></app-account-form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">
      Close
    </button>
    <button
      [disabled]="accountForm.invalid"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="accountForm.value.account"
    >
      Save
    </button>
  </div>
</form>
