<div class="content">
  <div class="header">
    <h1>Welcome back!</h1>
  </div>
  <img
    loading="lazy"
    src="assets/images/login_screen.svg"
    class="image-svg"
    alt=""
  />
  <form [formGroup]="loginForm">
    <app-login-form formControlName="login"></app-login-form>
  </form>
  <div class="login-button">
    <button
      [disabled]="loginForm.invalid"
      mat-raised-button
      color="primary"
      (click)="onLogin()"
    >
      Login
    </button>
    <h3 class="alternative-link">
      Don't have an account?
      <a class="button-link" mat-button color="accent" routerLink="/register"
        ><b>Sign up</b></a
      >
    </h3>
  </div>
</div>
