<mat-toolbar class="toolbar mat-elevation-z6" color="primary">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Team Up
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav="matSidenav"
    class="mat-elevation-z6"
    [style.width.%]="[width]"
  >
    <button
      mat-button
      class="menu-button"
      (click)="toggleSidenav()"
      [routerLink]="'/profile'"
    >
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-button
      class="menu-button"
      (click)="toggleSidenav()"
      [routerLink]="'/feed'"
    >
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-button
      class="menu-button"
      (click)="toggleSidenav()"
      [routerLink]="'/tournaments'"
    >
      <mat-icon>calendar_today</mat-icon>
      <span>Tournaments</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-button
      class="menu-button"
      (click)="toggleSidenav()"
      [routerLink]="'/messages'"
    >
      <mat-icon>question_answer</mat-icon>
      <span>Messages</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content [style.paddingLeft.px]="contentPaddingLeft">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
