<div class="container">
  <mat-stepper orientation="vertical" linear #stepper>
    <!--STEP 0 : ACCOUNT-->
    <form [formGroup]="registerForm[0]">
      <mat-step [stepControl]="registerForm[0]">
        <ng-template matStepLabel>Fill your account information</ng-template>
        <h1>Welcome Onboard, Gamer!</h1>
        <p>Let's help you find your perfect team</p>
        <app-account-form formControlName="account"></app-account-form>
        <button mat-raised-button color="primary" matStepperNext>
          Register
        </button>
      </mat-step>
    </form>

    <!--STEP 1 : BASIC-->
    <form [formGroup]="registerForm[1]">
      <mat-step [stepControl]="registerForm[1]">
        <ng-template matStepLabel
          >Fill out your personal information</ng-template
        >
        <h1>Tell us more about you</h1>
        <app-basic-form formControlName="basic"></app-basic-form>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            Continue
          </button>
        </div>
      </mat-step>
    </form>

    <!--STEP 2 : PREFERENCES-->
    <form [formGroup]="registerForm[2]">
      <mat-step [stepControl]="registerForm[2]">
        <ng-template matStepLabel>Fill out your game preferences</ng-template>
        <h1>Select your favourite game</h1>
        <app-preferences-form
          formControlName="preferences"
        ></app-preferences-form>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          <app-button
            [disabled]="registerForm[2].invalid"
            text="Complete"
            (btnClick)="onRegister()"
          ></app-button>
        </div>
      </mat-step>
    </form>
  </mat-stepper>
  <span>Already have an account? <a routerLink="/login">Sign in</a></span>
</div>
