<form [formGroup]="preferencesForm">
  <div mat-dialog-content>
    <h2>Edit your game preferences</h2>
    <app-preferences-form
      [data]="data"
      formControlName="preferences"
    ></app-preferences-form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">
      Close
    </button>
    <button
      [disabled]="preferencesForm.invalid"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="preferencesForm.value.preferences"
    >
      Save
    </button>
  </div>
</form>
