<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button *ngIf="isOver" (click)="messagesSidenav.toggle()">
    <mat-icon *ngIf="!isOpen">menu</mat-icon>
    <mat-icon *ngIf="isOpen">close</mat-icon>
  </button>
  Messages
</mat-toolbar>

<!--CHAT COMPONENT-->
<mat-sidenav-container autosize class="mat-elevation-z6">
  <mat-sidenav
    #messagesSidenav="matSidenav"
    [opened]="isOpen"
    [mode]="isOver ? 'over' : 'side'"
  >
    <!--CONTACT LIST-->
    <mat-selection-list #contactList [multiple]="false">
      <mat-list-option
        *ngFor="let contact of contacts"
        (click)="onContactChange(contact)"
        [value]="contact"
      >
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <div mat-line>{{ contact.nickname }}</div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="isContactActive" class="chat-container">
      <mat-list #scrollMe>
        <mat-list-item *ngFor="let msg of messages"
          ><mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>
            <b>{{ msg.senderName }}</b>
          </div>
          <div mat-line>
            {{ msg.timestamp | date: "shortTime" }} - {{ msg.content }}
          </div>
        </mat-list-item>
      </mat-list>
      <div class="bottom-bar mat-elevation-z6">
        <mat-form-field appearance="legacy">
          <mat-label>Text your message</mat-label>
          <input matInput [(ngModel)]="messageText" />
        </mat-form-field>
        <button
          class="send-button"
          mat-mini-fab
          color="primary"
          (click)="sendMessage()"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
